errors_html = "";
<% if @resource.errors.any? %>
  errors_html += "<ul class='error'>";
  <% @resource.errors.each do |e| %>
    errors_html += "<li> <%= e.to_s.humanize %> <%= @resource.errors[e].first %> </li>";
  <% end %>
  errors_html += "</ul>";
  <% #binding.pry %>
  <% if params[:role].eql? "agent" %>
    $("#agent_error_messages").html(errors_html);
  <% else %>
    $("#vendor_error_messages").html(errors_html);
  <% end %>
<% else %>
  location.reload();
<% end %>


