p Here is a new membership request.

b Name:
| #{@form_fields["name"]}

br
b Location: 
| #{@form_fields["location"]}

br
b Tier: 
| #{@form_fields["tier"]}

br
b Contact Number: 
| #{@form_fields["contactnum"]}

br
b Email: 
| #{@form_fields["email"]}