#ProfileDetail style="display:none;" title="Profile" 
  .profile-detail
    .photo
      .detail_name.name 
      = image_tag "default_avatar.jpg", border: "0", width: "100%", class: "profile_image"
      .recommended
        span 97% 
        | Recommended | 
        span 5 
        | Reviews
    .info
      .service.detail_services 
      .location.detail_location 
      .specialities
        .destination
          strong Destination: 
          span.cities

        .interest
          strong Tier: 
          span.tier

        div
          strong Language: 
          span.languages
      .about
        h3 About
        p.description 

      .reviews
        h3 Reviews
        .user-review
          = image_tag "small-img.jpg", border: "0", height: "50", width: "50"
          span Jamie Parnell
          | - He was just superb when I visited US and hired him as my Agent
        .clear
        .user-review
          = image_tag "small-img3.jpg", border: "0", height: "50", width: "50"
          span Anita Pulkarni
          | - Robert has provided me 7 star sevices when I visited New York for the first time.
        .clear
        .user-review
          = image_tag "small-img2.jpg", border: "0", height: "50", width: "50"
          span Kim Rupert
          | - Wow! what a man he was. Just Amazing. I am very pleased
        .clear
    .clear