.plq-profile
  .photo
    a href="#" 
      img alt="" border="0" src="images/vendor-1.jpg"
  .info
    .name
      a href="#"  Angelina Michael
    .service Travel Services
    .location Seattle, WA United States
    .specialities
      .interest Tier: PLQ Gold
  .clear