.inner-pages-main-padd
  .breadcrumbs
    = link_to 'HOME ', root_path
    | &raquo; OUR PREFERRED VENDORS
  h1 Our Preferred Vendors
  p Our featured vendors are some of the best establishments for lifestyle and entertainment across the globe. Curated by our panel of lifestyle managers we have selected and created a directory of places to visit from each of our locations. To contact one of our featured vendors simply send a contact request and you'll received a response to your request within 24 hours.
  == render 'layouts/messages'

  .left-pannel
    .refine-search
      h3 Refine Your Vendor Search
      = search_form_for @q, url: "" do |f|
        = f.search_field :name_or_country_or_email_cont, class: "input-field"
        = f.submit "", class: "search-button"
      .clear
    = search_form_for @q, url: "", remote: true, id: "user_search_checkbox" do |f|
      .lp-filter-box
        h4 Country
        .options
          ul          
            - countries = ["Dubai", "United Kingdom", "Sweden", "Turkey", "Canada", "United Stated"]
            - countries.each do |country|
              li
                = check_box_tag('q[country_cont_any][]', country, checked = false, options = { class: "filter_checkbox" })
                = country
            
          /.reset-link
            a href="#"  RESET
          /.view-all-link
            a href="#"  VIEW ALL
          .clear
      .lp-filter-box
        h4 City
        .options
          ul
            - User.cities.each do |city|
              li
                = check_box_tag('q[user_cities_name_cont_any][]', city, checked = false, options = { class: "filter_checkbox" })
                = city
            
          /.reset-link
            a href="#"  RESET
          
          .clear
      .lp-filter-box
        h4 Services
        .options
          ul
            - User.services.each do |service|
              li
                = check_box_tag('q[user_services_name_cont_any][]', service, checked = false, options = { class: "filter_checkbox" })
                = service
          /.reset-link
            a href="#"  RESET
          .clear
      .lp-filter-box
        h4 Tier
        .options
          ul
            - User.tier.each do |tier|
              li
                = check_box_tag('q[tier_cont_any][]', tier, checked = false, options = { class: "filter_checkbox" })
                = tier
          /.reset-link
            a href="#"  RESET
          .clear

      /.lp-filter-box
        h4 Languages
        .options
          ul
            li
              input name="languages" type="checkbox" value="English"
              | English
            li
              input name="languages" type="checkbox" value="French"
              | French
            li
              input name="languages" type="checkbox" value="Spanish"
              | Spanish
            li
              input name="languages" type="checkbox" value="Arabic"
              | Arabic
            li
              input name="languages" type="checkbox" value="German"
              | German
          .reset-link
            a href="#"  RESET
          .view-all-link
            a href="#"  VIEW ALL
          .clear
  .content-pannel
    = paginate @vendors
    .sorting
      span Sort by: &nbsp;
      select name="sortfield" onchange=("location = this.options[this.selectedIndex].value;")
        option value=""  Select
        option value="/vendors?q[s]=name+asc"  Vendor Name: A to Z
        option value="/vendors?q[s]=name+desc"  Vendor Name: Z to A
        option value="/vendors"  Number of Reviews
        option value="/vendors"  Percent Recommended
    .plq-listing
      - if @vendors.any?
        - @vendors.each do |user|
          = render 'vendor_item', user: user
      - else
        .flash_notice Currently we are not active in your region. Be the first one to subscribe as an vendor.
    div.align-center
      a#venderFormButton.join-button style="display: none;" href="javascript:void(0);"  SIGN UP
    = paginate @vendors

    = render 'vendor_detail'
  .clear
