@font-face {
    font-family: Aller_Rg;
    src: url(fonts/Aller_Rg.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(fonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-Italic;
    src: url(fonts/OpenSans-Italic.ttf);
}
body {
  margin:0px;
  padding:0px;
  font-family: OpenSans-Regular;
  background:#fff;
}
a {
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom:4px solid #141414;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
 
 .callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }
.rslides2 {
border-bottom:none;
}
.rslides2 li {
color:#444444;
font-size:24px;
}
.rslides2 span {
font-size:14px;
}

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("slider-arrows.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.clearfix , .clear {
clear:both;
}



.container , .home-container {
width:1140px;
margin:0px auto;
}
  
header {
background: url(header-bg.png) top left repeat;
border-bottom: 1px solid #afafaf;
width:100%;
position:absolute;
height:86px;
z-index:99;
}
header .logo {
float:left;
width:25%;
}
header .right-div {
float:right;
width:74%;
text-align:right;
padding-top:30px;
}
header .right-div a {
text-transform:uppercase;
text-decoration:none;
font-size:16px;
color:#fff;
}
header .right-div a.login {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background:#494949;
padding: 5px 15px 5px 15px;
}
header .right-div a.signup {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background:#4db6dc;
padding: 5px 15px 5px 15px;
}
header .right-div a.login:hover {
background:#191919;
}
header .right-div a.signup:hover {
background:#1b99c7;
}
header .right-div a.menu {
background:url(menu-icon.gif) 0% 50% no-repeat;
padding: 0px 0px 0px 24px;
}

.main-slider-text {
position:absolute;
width:60%;
margin-top:230px;
margin-left:120px;
}

.main-slider-text h2 {
color:#fff;
font-size:48px;
font-family: OpenSans-Semibold;
margin:0px 0px 13px 0px;
padding:0px;
line-height:52px;
}
.main-slider-text p {
color:#fff;
font-size:38px;
font-family: OpenSans-Light;
margin:0px;
padding:0px;
line-height:38px;
}
h1 {
color:#222222;
font-size:30px;
margin:0px 0px 15px 0px;
padding:0px;
font-family: OpenSans-Regular;
font-weight:normal;
}
h1 span {
padding-bottom:9px;
border-bottom: 3px solid #4db6dc;
}
h1 strong {
font-family: OpenSans-Bold;
font-weight:normal;
}
.plq-global-network {
margin-top:50px;
background:url(globe.png) top right no-repeat;
}
.plq-global-network .inner-padd {
padding: 0px 300px 5px 0px;
}
.plq-global-network .outer-padd {
padding: 0px 0px 5px 0px;
}
.plq-global-network h1 {
border-bottom:1px solid #cccccc;
padding-bottom:12px;
}
.plq-global-network p {
color:#555555;
font-size:20px;
margin:0px 0px 17px 0px;
padding:0px;
}
.plq-global-network p strong {
font-family: OpenSans-Bold;
font-weight:normal;
font-size:24px;
color:#222;
}

.signup-for-early-access {
text-align:center;
margin:0px 0px 50px 0px;
}
.signup-for-early-access a {
background:#4db6dc;
font-family: OpenSans-Bold;
font-weight:normal;
color:#fff;
font-size:24px;
text-decoration:none;
padding:10px 20px 10px 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.signup-for-early-access a:hover {
background:#1b99c7;
}
.plq-app {
text-align:center;
margin-bottom: 50px;
}
.plq-app p {
font-size:16px;
font-weight:normal;
color:#333;
}

.home-container h2 {
color:#222222;
font-size:30px;
margin:0px 0px 15px 0px;
padding:0px;
font-family: OpenSans-Regular;
font-weight:normal;
border-bottom:1px solid #cccccc;
padding-bottom:12px;
}
.home-container h2 span {
padding-bottom:9px;
border-bottom: 3px solid #4db6dc;
}
.home-container h2 strong {
font-family: OpenSans-Bold;
font-weight:normal;
}
.align-center {
text-align:center;
}
.align-right {
text-align:right;
}
.plq-affiliate-services {
position:relative;
}
.plq-affiliate-services ul.services {
list-style:none;
margin:0px;
padding:0px;
}
.plq-affiliate-services ul.services li {
float:left;
display:inline;
width:356px;
text-align:center;
margin:0px 12px 24px 12px;
color:#fff;
position:relative;
}
.plq-affiliate-services ul.services li h3 {
font-size:24px;
color:#fff;
padding:0px;
margin:100px 0px 40px 0px;
font-weight:normal;
}
.plq-affiliate-services ul.services li h3.mp {
margin:135px 0px 40px 0px;
}
.plq-affiliate-services .overlay {
background: url(header-bg.png) top left repeat;
position:absolute;
z-index:98;
width:100%;
height:340px;
}
.plq-affiliate-services .arrow-icon {
margin:0px auto;
width:30px;
height:30px;
}

.plq-affiliate-services .arrow-icon span {
background-image: url(sprite.png);
background-repeat:no-repeat;
background-position:0px -320px;
width:30px;
height:30px;
display:block;
}
.plq-affiliate-services .services .service a {
position:absolute;
display:block;
z-index:99;
width:100%;
height:340px;
text-decoration:none;
}

.plq-memberships {
background:#070716;
padding: 30px 0px 30px 0px;
color:#fff;
}
.plq-memberships p {
text-align:center;
color:#fff;
font-size:18px;
line-height:24px;
padding: 0px;
margin:0px 0px 15px 0px;
}

.membership-box {
background:#52525c;
color:#fff;
float:left;
width:20.5%;
padding:20px 20px 0px 20px;
text-align:center;
height:330px;
margin:0px 5px 10px 5px;
padding:10px 20px 10px 20px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}


.membership-box p {
color:#fff;
font-size:14px;
line-height:22px;
padding: 0px 17px 0px 17px;
margin:0px 0px 30px 0px;
}
.membership-box h3 {
color:#fff;
font-size:20px;
pading: 0px;
margin:30px 0px 5px 0px;
font-family: OpenSans-Bold;
font-weight:normal;
}
.membership-box h4 {
color:#d6d6d6;
font-size:16px;
pading: 0px;
margin:0px 0px 30px 0px;
font-family: OpenSans-Bold;
font-weight:normal;
}

.membership-box.white {
background:#e7e7e8;
color:#444444;
}
.membership-box:hover {
background:#82828c;
}
.membership-box.white:hover {
background:#fff;
}
.membership-box.white p {
color:#444444;
}  
.membership-box.white h3 {
color:#222222;
}
.membership-box.white h4 {
color:#444444;
}  
.membership-box a.membership-button {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background:#4db6dc;
padding: 5px 25px 6px 25px;
text-decoration:none;
font-size:15px;
color:#fff;
}
.membership-box a.membership-button:hover {
background:#1b99c7;
}
.plq-memberships h2 {
color:#fff;
font-size:36px;
text-align:center;
font-weight:normal;
border-bottom:none;
padding:0px;
margin:0px 0px 10px 0px;
}
.what-customers-say {
text-align:center;
margin:50px 0px 50px 0px;
}
.want-to-join-plq {
background:#ebebeb;
text-align:center;
padding:30px 0px 40px 0px;
}
.want-to-join-plq-dialog {
text-align:center;
padding:40px 0px 0px 0px;
}
.want-to-join-plq h2 {
border:none;
}
a.join-button {
background:#4db6dc;
font-family: OpenSans-Bold;
font-weight:normal;
color:#fff!important;
font-size:24px;
text-decoration:none;
padding:10px 30px 10px 30px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
a.join-button:hover {
background:#1b99c7;
}
.plq-map {
background:url(map-bg.jpg) repeat-x;
color:#fff;
min-height:639px;
text-align:center;
padding-top:27px;
}
.plq-map h2 {
color:#fff;
border:0px;
font-size:30px;
margin:0px;
padding:0px 0px 5px 0px;
line-height:34px;
}
.plq-map p {
font-size:16px;
margin:0px;
padding:0px 0px 5px 0px;
line-height:22px;
}
.plq-map .map {
position:relative;
}

.plq-map .cities {
font-size:18px;
font-family: OpenSans-Bold;
margin-bottom:10px;
}
.plq-map .locationpin {
position:absolute;
z-index:99;
}

.mapbubble {
font-family: OpenSans-Regular;
font-weight:normal;
color:#333;
font-size:11px;
}
.mapbubble h4 {
font-family: OpenSans-Bold;
font-weight:normal;
color:#333;
font-size:13px;
padding:0px 0px 5px 0px;
margin:0px;
}
.mapbubble strong {
font-family: OpenSans-Bold;
font-weight:normal;
}

.plq-map .locationpin.losangeles {
left:307px;
top:220px;
}
.plq-map .locationpin.lasvegas {
left:327px;
top:204px;
}
.plq-map .locationpin.toronto {
left:387px;
top:185px;
}
.plq-map .locationpin.newyork {
left:415px;
top:195px;
}
.plq-map .locationpin.miami {
left:380px;
top:240px;
}
.plq-map .locationpin.dubai {
left:648px;
top:245px;
}
.plq-map .locationpin.london {
left:535px;
top:175px;
}
.plq-map .locationpin.paris {
left:548px;
top:182px;
}

.plq-map .locationpin.stockholm {
left:580px;
top:142px;
}

footer .copyright {
background:#111111;
padding: 25px 0px 25px 0px;
text-align:center;
font-size:12px;
color:#fff;
}
footer .inner-padd {
padding: 15px 0px 25px 0px;
}
footer .footer-left {
width:24%;
float:left;
text-align:left;
padding-top:54px;
}
footer .footer-mid {
width:50%;
float:left;
text-align:center;
}

footer .footer-right {
width:25%;
float:right;
text-align:right;
padding-top:54px;
}

footer a.fb-icon {
background-image: url(sprite.png);
background-repeat:no-repeat;
background-position:0px 0px;
width:44px;
height:44px;
display:block;
float:left;
margin-right:2px;
}
footer a.twitter-icon {
background-image: url(sprite.png);
background-repeat:no-repeat;
background-position:0px -52px;
width:44px;
height:44px;
display:block;
float:left;
margin-right:2px;
}
footer a.linkedin-icon {
background-image: url(sprite.png);
background-repeat:no-repeat;
background-position:0px -104px;
width:44px;
height:44px;
display:block;
float:left;
}


footer a.gplay-icon {
background-image: url(sprite.png);
background-repeat:no-repeat;
background-position:0px -212px;
width:123px;
height:42px;
display:block;
float:right;

}
footer a.appstore-icon {
background-image: url(sprite.png);
background-repeat:no-repeat;
background-position:0px -265px;
width:120px;
height:42px;
display:block;
float:right;
margin-right:3px;
}

footer .footer-nav {
color:#999;
font-weight:normal;
}
footer .footer-nav a {
color:#333;
font-weight:normal;
text-decoration:none;
font-size:13px;
}
footer .footer-nav a:hover {
color:#4db6dc;
}

footer .footer-nav strong {
font-family: OpenSans-Bold;
font-weight:normal;
}
footer .footer-button {
text-align:center;
margin-bottom:20px;
}
footer .footer-button a.signup-button {
background:#4db6dc;
font-weight:normal;
color:#fff;
font-size:24px;
text-decoration:none;
padding:10px 20px 10px 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
footer .footer-button a.signup-button:hover {
background:#1b99c7;
}

.plq-map .find-city {
position:absolute;
z-index:99;
width:250px;
border:5px solid #4db6dc;
background:#fff;
text-align:left;
left:39%;
bottom: -15px;
}
.plq-map .find-city .search-field {
width:180px;
border:none;
padding: 14px 10px 10px 10px;
margin:0px;
background:#fff;
font-size:16px;
font-family: OpenSans-Light;
float:left;
}
.plq-map .find-city .search-button {
background-image: url(sprite.png);
background-repeat:no-repeat;
background-position:0px -161px;
width:41px;
height:41px;
padding:0px;
margin:4px 0px 0px 5px;
border:none;
cursor:pointer;
}


.ui-dialog-titlebar-close {
    background: url("close-icon.png") no-repeat!important;
    border: none!important;
    color: #1c94c4!important;
    font-weight: bold!important;
}
.ui-dialog-titlebar {
background:#4db6dc!important;
border:none!important;
font-size:24px!important;
font-family: OpenSans-Regular!important;
font-weight:normal!important;
}
span.ui-dialog-title { 
font-family: OpenSans-Regular!important;
font-weight:normal!important;
}

.signup-form .field-div {
margin:0px 0px 12px 0px;
}

.signup-form .field-div .label {
float:left;
width:30%;
font-size:16px;
color:#444;
font-family: OpenSans-Regular;
padding-top:12px;
}
.signup-form .field-div .field {
float:right;
width:69%;
text-align:left;
font-size:16px;
color:#444;
font-family: OpenSans-Regular;
}
.signup-form .field-div .field span {
font-size:12px;
color:#777;
font-family: OpenSans-Regular;
}
.signup-form .field-div .field .inputfield {
background:#fff;
border:none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 10px;
color:#777;
width:90%;
font-weight:normal;
font-family: OpenSans-Regular;
}
.submit-button {
background:#4db6dc;
border:none;
font-weight:normal;
color:#fff;
font-size:18px;
text-decoration:none;
padding:10px 20px 10px 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
cursor:pointer;
text-transform:uppercase;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}
.submit-button:hover {
background:#1b99c7;
}
.padd-rgt-10 {
padding-right:10px;
}
.download-pdf-link { margin-top:20px; }
.download-pdf-link a {
font-size:18px;
text-decoration:none;
background:url(pdf-icon.png) top left no-repeat;
padding: 3px 0px 3px 35px;
}
.download-pdf-link a:hover {
color:#4db6dc;
}
.mainmenuouter {
position:relative;
width:1140px;
margin:0px auto;
}
.mainmenuclose {
height:20px;
background:url(close-icon.png) top right no-repeat;
margin-bottom:10px;
cursor:pointer;
}
.mainmenu {
background:#222;
padding: 20px;
color:#fff;
position:absolute;
z-index:100;
right:0px;
top:87px;
opacity: 0.75;
filter: alpha(opacity=75);
width:150px;
border-bottom:3px solid #fff;
}
.mainmenu ul {
list-style:none;
padding:0px;
margin:0px;
} 
.mainmenu ul li {
list-style:none;
padding:4px 0px 4px 0px;
margin:0px;
border-bottom:1px dashed #777;
text-align:right;
} 
.mainmenu a {
color:#fff;
text-decoration:none;
font-size:18px;
} 
.mainmenu a:hover {
color:#4db6dc;
} 

.services-popup {
background:#222;
width:100%;
position:absolute;
z-index:100;
color:#fff;
}
.services-popup .ipadding {
padding: 25px;
}
.services-popup .photo {
float:right;
width:54%;
padding-top:20px;
}
.services-popup .text {
float:left;
width:45%;
text-align:left;
color:#fff;
font-size:13px;
line-height:20px;
}
.services-popup .text p {
color:#fff;
font-size:13px;
line-height:20px; 
padding:0px;
margin:0px 0px 12px 0px;
}
.white {
color:#fff!important;
}
.servicepopupclose {
height:20px;
background:url(close-icon.png) top right no-repeat;
margin-bottom:0px;
cursor:pointer;
float:right;
width:20px;
}





.inner-page-banner img {
width:100%;
border-bottom:4px solid #141414;
}
.inner-pages-main-padd {
padding: 30px 0px 30px 0px;
}
.breadcrumbs {
font-size:13px;
color:#444;
}
.breadcrumbs a {
font-size:13px;
color:#4db6dc;

text-decoration:none;
}
.breadcrumbs a:hover {
color:#444;
}
.inner-page h1 {
margin-top:10px;
border-bottom:1px solid #ccc;
padding-bottom:10px;
margin-bottom:20px;
}

.left-pannel {
float:left;
width:28%;
padding-top:10px; 
}
.content-pannel {
float:right;
width:68%; 
text-align:left;
padding-top:10px;
}
.results-found {
border-bottom:1px dashed #ccc;
padding:5px 0px 15px 0px;
margin-bottom:20px;
font-size:16px;
}
a.arrow-box { 
background:#222;
color:#fff;
padding: 2px 10px 5px 10px;
margin:0px;
text-decoration:none;
}
a.arrow-box:hover { 
background:#4db6dc;
}
.sorting {
  margin:10px 0px 20px 0px;
  font-size:16px;
}
.sorting select {
  font-size:14px;
  border:none;
  background:#fff;
  padding:5px;
  color:#4db6dc;
  border:1px solid #ccc;
}

.plq-listing .plq-profile {
border: 1px solid #ddd;
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
font-size:13px;
height:190px;
margin-bottom:20px;
}
.plq-listing .plq-profile .photo {
float:left;
width:38%;
}
.plq-listing .plq-profile .photo img {
border-right:3px solid #eee;
}
.plq-listing .plq-profile .info {
float:left;
width:59%;
text-align:left;
padding:10px 0px 0px 0px;
color:#555;
}
.plq-listing .plq-profile .info .name {
color:#4db6dc;
font-family: OpenSans-Bold;
font-size:18px;
padding-bottom:5px;
}
.plq-listing .plq-profile .info .name a {
color:#4db6dc;
font-family: OpenSans-Bold;
font-size:18px;
text-decoration:none;
}
.plq-listing .plq-profile .info .location {
border-bottom:1px dashed #ddd;
padding-bottom:10px;
margin-bottom:10px;
}
.plq-listing .plq-profile .info .specialities {
margin-bottom:15px;
color:#777;
} 
.plq-listing .plq-profile .info .contact {
text-align:right;
}
.plq-listing .plq-profile .info .contact a {
background:#4db6dc;
font-weight:normal;
color:#fff;
font-size:13px;
text-decoration:none;
padding:5px 10px 5px 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.plq-listing .plq-profile .info .contact a:hover {
background:#1b99c7;
}

.plq-listing .plq-profile .info .recommended {
color:#555;
border:1px solid #ddd;
padding:5px;
font-size:12px;
float:right;
}
.plq-listing .plq-profile .info .recommended span {
font-size:14px;
font-family: OpenSans-Bold;
color:#4db6dc;
}


.left-pannel h3 {
font-size:18px;
color:#444;
font-family: OpenSans-Bold;
font-weight:normal;
padding:0px 0px 5px 0px;
margin:0px;
}
.refine-search {
margin-bottom:25px;
}
.refine-search .input-field {
background:#eee;
border:none;
padding:5px 10px 5px 10px;
margin:0px;
font-size:14px;
font-family: OpenSans-Regular;
height:31px;
float:left;
width:79%;
}
.refine-search .search-button {
background:url(search-icon.gif) no-repeat;
width:41px;
height:41px;
float:left;
border:none;
padding:0px;
margin:0px;
cursor:pointer;
}

.lp-filter-box {
margin:0px 0px 15px 0px;
border:1px solid #ddd;
}
.lp-filter-box h4 {
margin:0px 0px 20px 0px;
background:#555;
color:#fff;
font-size:18px;
font-weight:normal;
padding:8px 12px 8px 12px;
margin:0px;
}
.lp-filter-box .options {
padding: 15px;
}
.lp-filter-box .options ul {
list-style:none;
padding:0px;
margin:0px;
}
.lp-filter-box .options ul li {
font-size:13px;
color:#555;
line-height:19px;
margin:0px;
padding:0px 0px 3px 0px;
}
.lp-filter-box .options .view-all-link {
padding-left:5px;
margin-top:10px;
}
.lp-filter-box .options .reset-link {
float:right;
margin-top:10px;
}
.lp-filter-box .options .reset-link a {
color:#4db6dc;
text-decoration:none;
font-size:12px;
}
.lp-filter-box .options .view-all-link a {
color:#4db6dc;
text-decoration:none;
font-size:12px;
}
.lp-filter-box .options .view-all-link a:hover , .lp-filter-box .options .reset-link a:hover {
color:#444;
}

ul.error , .error {
background:#ffc3c0;
border:1px solid #ff2400;
color:#CC0000;
font-weight:normal;
list-style-image:url(white-bul.gif);
padding: 15px;
margin: 0px 0px 20px 0px;
}
ul.error li {
color:#CC0000;
font-weight:normal;
list-style-image:url(white-bul.gif);
padding: 0px 5px 4px 5px;
margin:0px 20px 0px 20px;
font-size:14px;
line-height:19px;
}

ul.success , .success {
background:#b9fcb5;
border:1px solid #3cba35;
color:#199e12;
font-weight:normal;
list-style-image:url(white-bul.gif);
padding: 15px;
margin: 15px 0px 20px 0px;
}
ul.success li {
color:#199e12;
font-weight:normal;
list-style-image:url(white-bul.gif);
padding: 0px 5px 4px 5px;
margin:0px 20px 0px 20px;
font-size:14px;
line-height:19px;
}

.loading {
background:url(loading.gif) 96% 0% no-repeat;
width:100%;
height:64px;
}



.profile-detail {
font-family: OpenSans-Regular;
}
.profile-detail .photo {
float:left;
width:38%;
margin-right:20px;
padding:10px 0px 0px 0px;
}
.profile-detail .photo img {
border-right:3px solid #eee;
}
.profile-detail .info {
float:left;
width:55%;
text-align:left;
padding:10px 0px 0px 0px;
color:#555;
font-size:13px;
}
.profile-detail .info strong {
font-family: OpenSans-Bold;
font-weight:normal;
}
.profile-detail .info .name {
color:#4db6dc;
font-family: OpenSans-Bold;
font-size:18px;
padding-bottom:5px;

}
.profile-detail .photo .name {
color:#4db6dc;
font-family: OpenSans-Bold;
font-size:22px;
text-decoration:none;
text-align:center;
padding-bottom:10px;
}
.profile-detail .info .location {
border-bottom:1px dashed #aaa;
padding-bottom:10px;
margin-bottom:10px;
}
.profile-detail .info .specialities {
margin-bottom:15px;
color:#777;
margin-top:15px;
} 
.profile-detail .info h3 {
font-weight:normal;
color:#555;
font-family: OpenSans-Bold;
font-size:16px;
padding:0px;
margin:0px 0px 5px 0px;
}
.profile-detail .info .about p {
padding:0px;
margin:0px 0px 10px 0px;
}
.profile-detail .contact {
text-align:center;
margin-top:20px;
}
.profile-detail .contact a {
background:#4db6dc;
font-weight:normal;
color:#fff;
font-size:16px;
text-decoration:none;
padding:10px 30px 10px 30px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}
.profile-detail .contact a:hover {
background:#1b99c7;
}

.profile-detail .photo .recommended {
color:#555;
border:1px solid #ccc;
padding:5px;
font-size:12px;
}
.profile-detail .photo .recommended span {
font-size:14px;
font-family: OpenSans-Bold;
color:#4db6dc;
}
.profile-detail .reviews {
border-top:1px dashed #aaa;
padding-top:15px;
margin-top:15px;
font-size:12px;
}
.profile-detail .reviews .user-review img {
float:left; margin: 0px 10px 10px 0px;
}
.profile-detail .reviews .user-review span {
color:#4db6dc;
font-size:13px;
font-family: OpenSans-Bold;
}


.signup-form .field .chkboxfield {
float:left;
width:10%;
font-size:12px;

}
.signup-form .field label {
float:left;
width:37%;
font-size:12px;
height:25px;
}
.signup-form .field .moreheight label {
height:40px;
}





.pagination {
border-bottom:1px dashed #ccc;
padding:5px 0px 15px 0px;
margin-bottom:20px;
font-size:16px;
}
.pagination .page {
color:#222;
font-size:16px;
padding-right:5px;
}
.pagination .page a {
color:#555;
font-size:16px;
text-decoration:none;
}
.pagination .next a , .pagination .last a , .pagination .prev a  , .pagination .first a  {
background:#222;
color:#fff;
padding: 2px 10px 5px 10px;
margin:0px;
text-decoration:none;
}
.pagination .next a:hover , .pagination .last a:hover , .pagination .prev a:hover  , .pagination .first a:hover { 
background:#4db6dc;
}

.flash_notice {
  background:#b9fcb5;
border:1px solid #3cba35;
color:#199e12;
font-weight:normal;
padding: 15px;
margin: 15px 0px 20px 0px;
text-align: center;
font-size: 16px;
}


@media only screen and (max-width: 1000px) {

  .container, .home-container {
    margin: 0px auto;
    width: 95%;
  }
  
  .mainmenuouter {
    width:95%;
  }
  .main-slider-text {
    margin-left: 100px;
    margin-top: 140px;
    width: 60%;
  }
  .main-slider-text h2 {
    font-size: 36px;
    line-height: 38px;
    margin: 0 0 10px;
  }
  .main-slider-text p {
     font-size: 28px;
      line-height: 32px;
  }
  
  .plq-app img {
    width:90%;
  }
  .plq-global-network {
    background: none;
    margin-top: 50px;
  }
  .plq-global-network .outer-padd {
      padding: 0 0 20px;
  }
  .plq-global-network .inner-padd {
    padding: 0 0px 20px 0;
  }
  .plq-global-network h1 {
    text-align:center;
    font-size: 28px;
  }
  .home-container h2 {
    font-size: 28px;
  } 
  .plq-affiliate-services ul.services li {
    color: #fff;
    display: inline;
    float: left;
    margin: 0px 0px 20px 60px;
    width: 356px;
  }
  .services-popup .text {
    float: none;
    width: 100%;
  }
  .services-popup .photo {
    float: none;
    width: 100%;
    text-align:center;
  }
  .services-popup .photo img {
    width: 90%;
  }
  .membership-box {
    float: left;
    height: 330px;
    margin: 0px 10px 20px 10px;
    padding: 10px 20px;
    width: 41%;
  }
  
  footer .footer-left {

    width: 29%;

  }
  footer .footer-mid {
    width: 40%;
  }
  
  footer .footer-right {
    width: 30%;
  }
  
  
  
  
  
  .plq-map .locationpin.losangeles {
  left:22%;
  top:48.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:24%;
  top:44%;
  }
  .plq-map .locationpin.toronto {
  left:28.5%;
  top:39%;
  }
  .plq-map .locationpin.newyork {
  left:32%;
  top:41%;
  }
  .plq-map .locationpin.miami {
  left:29.5%;
  top:52%;
  }
  .plq-map .locationpin.dubai {
  left:58.5%;
  top:54%;
  }
  .plq-map .locationpin.london {
  left:46.5%;
  top:37%;
  }
  .plq-map .locationpin.paris {
  left:49%;
  top:39%;
  }
  
  .plq-map .locationpin.stockholm {
  left:51%;
  top:30%;
  }
  
  
  
  .plq-listing .plq-profile .photo img {
    width: 92%;
  }
  .plq-listing .plq-profile .info .name {
    font-size: 16px;
  }
  .refine-search .input-field {
    width: 71%;
  }
  
}

@media only screen and (max-width: 900px) {

  .plq-affiliate-services ul.services li {
    margin: 0px 0px 20px 20px;
  }
} 
@media only screen and (max-width: 810px) {

  
  
  .container, .home-container {
    margin: 0px auto;
    width: 95%;
  }
  
  .mainmenuouter {
    width:95%;
  }
  .main-slider-text {
    margin-left: 0px;
    margin-top: 140px;
    width: 100%;
    text-align:center;
  }
  .main-slider-text h2 {
    font-size: 30px;
    line-height: 32px;
    margin: 0 0 10px;
  }
  .main-slider-text p {
     font-size: 24px;
      line-height: 26px;
  }
  
  .plq-app img {
    width:100%;
  }
  .plq-global-network {
    background: none;
    margin-top: 50px;
  }
  .plq-global-network .outer-padd {
      padding: 0 0 20px;
  }
  .plq-global-network .inner-padd {
    padding: 0 0px 20px 0;
  }
  .plq-global-network h1 {
    text-align:center;
    font-size: 28px;
  }
  .home-container h2 {
    font-size: 28px;
  } 
  .plq-affiliate-services ul.services li {
    color: #fff;
    display: block;
    float: none;
    margin: 20px auto;
    width: 356px;
  }
  .services-popup .text {
    float: none;
    width: 100%;
  }
  .services-popup .photo {
    float: none;
    width: 100%;
    text-align:center;
  }
  .services-popup .photo img {
    width: 90%;
  }
  .membership-box {
    float: left;
    height: 330px;
    margin: 0px 10px 20px 10px;
    padding: 10px 20px;
    width: 39%;
  }
  
  footer .footer-left {
    float: none;
    padding-top: 0px;
    text-align: center;
    width: 140px;
    clear:both;
    margin:0px auto;
    
  }
  footer .footer-mid {
    float: none;
    text-align: center;
    width: 100%;
    clear:both;
    padding-top:30px;
  }
  
  footer .footer-right {
    float: none;
    padding-top: 24px;
    text-align: center;
    width: 255px;
    margin:0px auto;
  }
  
  
  
  .plq-map .find-city {

    left: 32%;

  }
  
  .plq-map .locationpin.losangeles {
  left:15%;
  top:48.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:18.5%;
  top:44%;
  }
  .plq-map .locationpin.toronto {
  left:24%;
  top:39%;
  }
  .plq-map .locationpin.newyork {
  left:28%;
  top:41%;
  }
  .plq-map .locationpin.miami {
  left:24.5%;
  top:52%;
  }
  .plq-map .locationpin.dubai {
  left:60.5%;
  top:54%;
  }
  .plq-map .locationpin.london {
  left:45.5%;
  top:37%;
  }
  .plq-map .locationpin.paris {
  left:47.5%;
  top:39%;
  }
  
  .plq-map .locationpin.stockholm {
  left:52%;
  top:31%;
  }
  
  .left-pannel {
    float: none;
    padding-top: 10px;
    width: 100%;
  }
  
  .content-pannel {
    float: none;
    padding-top: 10px;
    text-align: left;
    width: 100%;
  }
  
  .plq-listing .plq-profile .photo img {
    width: 90%;
  }
  .plq-listing .plq-profile .info .name {
    font-size: 16px;
  }
  
  .refine-search .input-field {
    width: 80%;
  }
  
  .ui-dialog {
    width:500px!important;
  }
  
  .profile-detail .photo {
  float:none;
  width:100%;
  margin-right:0px;
  padding:10px 0px 10px 0px;
  }
  .profile-detail .photo img {
  border-right:none;
  }
  .profile-detail .info {
  float:none;
  width:100%;
  text-align:left;
  padding:10px 0px 0px 0px;
  }
  
}
@media only screen and (max-width: 740px) {
.vectormap img {
    width:100%;
  }
  
  .plq-map .locationpin.losangeles {
  left:13%;
  top:48.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:16.5%;
  top:44%;
  }
  .plq-map .locationpin.toronto {
  left:22%;
  top:39%;
  }
  .plq-map .locationpin.newyork {
  left:26%;
  top:41%;
  }
  .plq-map .locationpin.miami {
  left:22.5%;
  top:52%;
  }
  .plq-map .locationpin.dubai {
  left:60.5%;
  top:54%;
  }
  .plq-map .locationpin.london {
  left:45.5%;
  top:37%;
  }
  .plq-map .locationpin.paris {
  left:47.5%;
  top:39%;
  }
  
  .plq-map .locationpin.stockholm {
  left:52%;
  top:31%;
  }
  
  
  
}
@media only screen and (max-width: 600px) {
  
  header {
      height: 130px;
  }
  
  .container, .home-container {
    margin: 0px auto;
    width: 95%;
  }
  header .logo {
    float: none;
    width: 100%;
    text-align:center;
  } 
  header .right-div {
    float: none;
    padding-top: 0px;
    text-align: center;
    width: 100%;
  }
  .mainmenuouter {
    width:95%;
  }
  .main-slider-text {
    margin-left: 0px;
    margin-top: 140px;
    width: 100%;
    text-align:center;
  }
  .main-slider-text h2 {
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 10px;
  }
  .main-slider-text p {
     font-size: 18px;
      line-height: 24px;
  }
  .rslides img {
    min-height:220px;  
  }
  .mainmenu {
    right:0px;
    top:131px;
    width:150px;
  }
  .plq-app img {
    width:100%;
  }
  .plq-global-network {
    background: none;
    margin-top: 50px;
  }
  .plq-global-network .outer-padd {
      padding: 0 0 20px;
  }
  .plq-global-network .inner-padd {
    padding: 0 0px 20px 0;
  }
  .plq-global-network h1 {
    text-align:center;
    font-size: 24px;
  }
  .home-container h2 {
    font-size: 24px;
  } 
  .plq-affiliate-services ul.services li {
    color: #fff;
    display: block;
    float: none;
    margin: 20px auto;
    width: 356px;
  }
  .services-popup .text {
    float: none;
    width: 100%;
  }
  .services-popup .photo {
    float: none;
    width: 100%;
    text-align:center;
  }
  .services-popup .photo img {
    width: 90%;
  }
  .membership-box {
    float: none;
    height: 330px;
    margin: 20px auto;
    padding: 10px 20px;
    width: 80%;
  }
  
  footer .footer-left {
    float: none;
    padding-top: 0px;
    text-align: center;
    width: 140px;
    clear:both;
    margin:0px auto;
    
  }
  footer .footer-mid {
    float: none;
    text-align: center;
    width: 100%;
    clear:both;
    padding-top:30px;
  }
  
  footer .footer-right {
    float: none;
    padding-top: 24px;
    text-align: center;
    width: 255px;
    margin:0px auto;
  }
  .plq-map {
    background:url(../images/map-bg.jpg) repeat-x;
    color:#fff;
    min-height:600px;
    text-align:center;
    padding-top:27px;
  }
  .vectormap img {
    width:100%;
  }
  
  .plq-map .find-city {
    bottom: -65px;
    height: 52px;
    left: 26%;
    width: 250px;
  }
  
  .plq-map .locationpin.losangeles {
  left:13%;
  top:46.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:16.5%;
  top:42%;
  }
  .plq-map .locationpin.toronto {
  left:22%;
  top:37%;
  }
  .plq-map .locationpin.newyork {
  left:26%;
  top:39%;
  }
  .plq-map .locationpin.miami {
  left:23%;
  top:50%;
  }
  .plq-map .locationpin.dubai {
  left:60.5%;
  top:52%;
  }
  .plq-map .locationpin.london {
  left:45%;
  top:35%;
  }
  .plq-map .locationpin.paris {
  left:47%;
  top:37%;
  }
  
  .plq-map .locationpin.stockholm {
  left:50%;
  top:30%;
  }
  .ui-dialog {
    width:400px!important;
  }
  .want-to-join-plq-dialog a.join-button {
    font-size: 20px!important;
    font-weight: normal;
    padding: 8px 12px!important;
    text-decoration: none;
  }
  
  
  
  
  .left-pannel {
    float: none;
    padding-top: 10px;
    width: 100%;
  }
  
  .content-pannel {
    float: none;
    padding-top: 10px;
    text-align: left;
    width: 100%;
  }
  
  .plq-listing .plq-profile .photo img {
    width: 90%;
  }
  .plq-listing .plq-profile .info .name {
    font-size: 14px;
  }
  
}

@media only screen and (max-width: 520px) {
  .plq-map {
    min-height:550px;
  }
  .plq-global-network h1 span {
    border:none;
  }
  .plq-map .find-city {
    left: 20%;
  }
  .want-to-join-plq-dialog a.join-button {
    font-size: 17px!important;
    font-weight: normal;
    padding: 8px 8px!important;
    text-decoration: none;
  }
  
  
  .plq-listing .plq-profile {
    height:100%;
    padding-bottom:20px;
  }
  .plq-listing .plq-profile .photo {
    float:none;
    width:100%;
    text-align:center;
  }
  .plq-listing .plq-profile .info {
    float:none;
    width:100%;
    text-align:center;
  }
  .plq-listing .plq-profile .photo img {
    width: 60%;
    border:none;
  }
  .plq-listing .plq-profile .info .name {
    font-size: 18px;
  }
  .plq-listing .plq-profile .info .contact {
    text-align:center;
  }
  
  .plq-listing .plq-profile .info .recommended {
    float: none;
    padding: 5px;
    width:75%;
    margin:0px auto;
  }
  .inner-page-banner img {
  min-height:127px;
  }
}

@media only screen and (max-width: 420px) {
  .ui-dialog {
    width:300px!important;
  }
  .plq-map {
    min-height:520px;
  }
  
  
  .plq-map .find-city {
    left: 16%;
  }
  
  
  .plq-map .locationpin.losangeles {
  left:12%;
  top:43.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:15.5%;
  top:39%;
  }
  .plq-map .locationpin.toronto {
  left:21%;
  top:34%;
  }
  .plq-map .locationpin.newyork {
  left:25%;
  top:36%;
  }
  .plq-map .locationpin.miami {
  left:22%;
  top:47%;
  }
  .plq-map .locationpin.dubai {
  left:59.5%;
  top:49%;
  }
  .plq-map .locationpin.london {
  left:44%;
  top:32%;
  }
  .plq-map .locationpin.paris {
  left:46%;
  top:34%;
  }
  
  .plq-map .locationpin.stockholm {
  left:49%;
  top:27%;
  }
  .what-customers-say h2 span {
  border:none;
  }
  
  
  .signup-for-early-access a {
    font-size: 18px;
    padding: 10px 15px;
  }
  
  
  
  .results-found {
    font-size: 13px;
  }
  
  
}

@media only screen and (max-width: 390px) {
  .ui-dialog {
    width:265px!important;
  }
  .plq-map {
    min-height:510px;
  }


  .plq-affiliate-services ul.services li {
    width: 100%;
  }
  .plq-affiliate-services ul.services li img {
    width: 100%;
    height:300px;
  }
  
  .plq-affiliate-services .overlay {

  height:300px;
  }

  .plq-affiliate-services .services .service a {
  height:300px;
  }
  
  .want-to-join-plq a.join-button {
    font-size: 24px;
    font-weight: normal;
    padding: 8px 18px;
    text-decoration: none;
  }
  
  .plq-map .find-city {
    left: 10%;
  }
  .plq-affiliate-services ul.services li h3 {
  font-size:20px;
  }
  
  
  
  .plq-map .locationpin.losangeles {
  left:10%;
  top:39.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:13.5%;
  top:35%;
  }
  .plq-map .locationpin.toronto {
  left:19%;
  top:30%;
  }
  .plq-map .locationpin.newyork {
  left:23%;
  top:32%;
  }
  .plq-map .locationpin.miami {
  left:20%;
  top:43%;
  }
  .plq-map .locationpin.dubai {
  left:57.5%;
  top:45%;
  }
  .plq-map .locationpin.london {
  left:42%;
  top:28%;
  }
  .plq-map .locationpin.paris {
  left:44%;
  top:30%;
  }
  
  
  .refine-search .input-field {
    width: 75%;
  }
}
@media only screen and (max-width: 320px) {
  
  .plq-map {
    min-height:480px;
  }

  .signup-for-early-access a {
    font-size: 16px;
    padding: 10px 10px;
  }
  .plq-map .find-city {
    left: 3%;
  }

}


@media only screen and (max-device-width: 810px) {

    .container, .home-container {
    margin: 0px auto;
    width: 95%;
  }
  
  .mainmenuouter {
    width:95%;
  }
  .main-slider-text {
    margin-left: 0px;
    margin-top: 140px;
    width: 100%;
    text-align:center;
  }
  .main-slider-text h2 {
    font-size: 30px;
    line-height: 32px;
    margin: 0 0 10px;
  }
  .main-slider-text p {
     font-size: 24px;
      line-height: 26px;
  }
  
  .plq-app img {
    width:100%;
  }
  .plq-global-network {
    background: none;
    margin-top: 50px;
  }
  .plq-global-network .outer-padd {
      padding: 0 0 50px;
  }
  .plq-global-network .inner-padd {
    padding: 0 0px 40px 0;
  }
  .plq-global-network h1 {
    text-align:center;
    font-size: 28px;
  }
  .home-container h2 {
    font-size: 28px;
  } 
  .plq-affiliate-services ul.services li {
    color: #fff;
    display: block;
    float: none;
    margin: 20px auto;
    width: 356px;
  }
  .services-popup .text {
    float: none;
    width: 100%;
  }
  .services-popup .photo {
    float: none;
    width: 100%;
    text-align:center;
  }
  .services-popup .photo img {
    width: 90%;
  }
  .membership-box {
    float: left;
    height: 330px;
    margin: 0px 10px 20px 10px;
    padding: 10px 20px;
    width: 39%;
  }
  
  footer .footer-left {
    float: none;
    padding-top: 0px;
    text-align: center;
    width: 140px;
    clear:both;
    margin:0px auto;
    
  }
  footer .footer-mid {
    float: none;
    text-align: center;
    width: 100%;
    clear:both;
    padding-top:30px;
  }
  
  footer .footer-right {
    float: none;
    padding-top: 24px;
    text-align: center;
    width: 255px;
    margin:0px auto;
  }
  
  
  
  .plq-map .find-city {

    left: 32%;

  }
  
  .plq-map .locationpin.losangeles {
  left:15%;
  top:48.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:18.5%;
  top:44%;
  }
  .plq-map .locationpin.toronto {
  left:24%;
  top:39%;
  }
  .plq-map .locationpin.newyork {
  left:28%;
  top:41%;
  }
  .plq-map .locationpin.miami {
  left:24.5%;
  top:52%;
  }
  .plq-map .locationpin.dubai {
  left:60.5%;
  top:54%;
  }
  .plq-map .locationpin.london {
  left:45.5%;
  top:37%;
  }
  .plq-map .locationpin.paris {
  left:47.5%;
  top:39%;
  }
  
  .plq-map .locationpin.stockholm {
  left:52%;
  top:31%;
  }
  
  .ui-dialog {
    width:500px!important;
  }
  
  .profile-detail .photo {
  float:none;
  width:100%;
  margin-right:0px;
  padding:10px 0px 10px 0px;
  }
  .profile-detail .photo img {
  border-right:none;
  }
  .profile-detail .info {
  float:none;
  width:100%;
  text-align:left;
  padding:10px 0px 0px 0px;
  }
  
}

@media only screen and (max-device-width: 740px) {
  
  .vectormap img {
    width:100%;
  }
  
  .plq-map .locationpin.losangeles {
  left:13%;
  top:48.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:16.5%;
  top:44%;
  }
  .plq-map .locationpin.toronto {
  left:22%;
  top:39%;
  }
  .plq-map .locationpin.newyork {
  left:26%;
  top:41%;
  }
  .plq-map .locationpin.miami {
  left:22.5%;
  top:52%;
  }
  .plq-map .locationpin.dubai {
  left:60.5%;
  top:54%;
  }
  .plq-map .locationpin.london {
  left:45.5%;
  top:37%;
  }
  .plq-map .locationpin.paris {
  left:47.5%;
  top:39%;
  }
  
  .plq-map .locationpin.stockholm {
  left:52%;
  top:31%;
  }

}

@media only screen and (max-device-width: 600px) {

    header {
      height: 130px;
  }
  
  .container, .home-container {
    margin: 0px auto;
    width: 95%;
  }
  header .logo {
    float: none;
    width: 100%;
    text-align:center;
  } 
  header .right-div {
    float: none;
    padding-top: 0px;
    text-align: center;
    width: 100%;
  }
  .mainmenuouter {
    width:95%;
  }
  .main-slider-text {
    margin-left: 0px;
    margin-top: 140px;
    width: 100%;
    text-align:center;
  }
  .main-slider-text h2 {
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 10px;
  }
  .main-slider-text p {
     font-size: 18px;
      line-height: 24px;
  }
  .rslides img {
    min-height:220px;  
  }
  .mainmenu {
    right:0px;
    top:131px;
    width:150px;
  }
  .plq-app img {
    width:100%;
  }
  .plq-global-network {
    background: none;
    margin-top: 50px;
  }
  .plq-global-network .outer-padd {
      padding: 0 0 50px;
  }
  .plq-global-network .inner-padd {
    padding: 0 0px 40px 0;
  }
  .plq-global-network h1 {
    text-align:center;
    font-size: 24px;
  }
  .home-container h2 {
    font-size: 24px;
  } 
  .plq-affiliate-services ul.services li {
    color: #fff;
    display: block;
    float: none;
    margin: 20px auto;
    width: 356px;
  }
  .services-popup .text {
    float: none;
    width: 100%;
  }
  .services-popup .photo {
    float: none;
    width: 100%;
    text-align:center;
  }
  .services-popup .photo img {
    width: 90%;
  }
  .membership-box {
    float: none;
    height: 330px;
    margin: 20px auto;
    padding: 10px 20px;
    width: 80%;
  }
  
  footer .footer-left {
    float: none;
    padding-top: 0px;
    text-align: center;
    width: 140px;
    clear:both;
    margin:0px auto;
    
  }
  footer .footer-mid {
    float: none;
    text-align: center;
    width: 100%;
    clear:both;
    padding-top:30px;
  }
  
  footer .footer-right {
    float: none;
    padding-top: 24px;
    text-align: center;
    width: 255px;
    margin:0px auto;
  }
  .plq-map {
    background:url(../images/map-bg.jpg) repeat-x;
    color:#fff;
    min-height:600px;
    text-align:center;
    padding-top:27px;
  }
  .vectormap img {
    width:100%;
  }
  
  .plq-map .find-city {
    bottom: -65px;
    height: 52px;
    left: 26%;
    width: 250px;
  }
  
  .plq-map .locationpin.losangeles {
  left:13%;
  top:46.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:16.5%;
  top:42%;
  }
  .plq-map .locationpin.toronto {
  left:22%;
  top:37%;
  }
  .plq-map .locationpin.newyork {
  left:26%;
  top:39%;
  }
  .plq-map .locationpin.miami {
  left:23%;
  top:50%;
  }
  .plq-map .locationpin.dubai {
  left:60.5%;
  top:52%;
  }
  .plq-map .locationpin.london {
  left:45%;
  top:35%;
  }
  .plq-map .locationpin.paris {
  left:47%;
  top:37%;
  }
  
  .plq-map .locationpin.stockholm {
  left:50%;
  top:30%;
  }
  .ui-dialog {
    width:400px!important;
  }
  .want-to-join-plq-dialog a.join-button {
    font-size: 20px!important;
    font-weight: normal;
    padding: 8px 12px!important;
    text-decoration: none;
  }

}

@media only screen and (max-device-width: 520px) {
  .plq-map {
    min-height:550px;
  }
  .plq-global-network h1 span {
    border:none;
  }
  .plq-map .find-city {
    left: 20%;
  }
  .want-to-join-plq-dialog a.join-button {
    font-size: 17px!important;
    font-weight: normal;
    padding: 8px 8px!important;
    text-decoration: none;
  }
}

@media only screen and (max-device-width: 420px) {

    .ui-dialog {
    width:300px!important;
  }
  .plq-map {
    min-height:520px;
  }
  
  
  .plq-map .find-city {
    left: 16%;
  }
  
  
  .plq-map .locationpin.losangeles {
  left:12%;
  top:43.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:15.5%;
  top:39%;
  }
  .plq-map .locationpin.toronto {
  left:21%;
  top:34%;
  }
  .plq-map .locationpin.newyork {
  left:25%;
  top:36%;
  }
  .plq-map .locationpin.miami {
  left:22%;
  top:47%;
  }
  .plq-map .locationpin.dubai {
  left:59.5%;
  top:49%;
  }
  .plq-map .locationpin.london {
  left:44%;
  top:32%;
  }
  .plq-map .locationpin.paris {
  left:46%;
  top:34%;
  }
  
  .plq-map .locationpin.stockholm {
  left:49%;
  top:27%;
  }
  .what-customers-say h2 span {
  border:none;
  }
  
  
  .signup-for-early-access a {
    font-size: 18px;
    padding: 10px 15px;
  }
  
}

@media only screen and (max-device-width: 390px) {

  .ui-dialog {
    width:265px!important;
  }
  .plq-map {
    min-height:510px;
  }


  .plq-affiliate-services ul.services li {
    width: 100%;
  }
  .plq-affiliate-services ul.services li img {
    width: 100%;
    height:300px;
  }
  
  .plq-affiliate-services .overlay {

  height:300px;
  }

  .plq-affiliate-services .services .service a {
  height:300px;
  }
  
  .want-to-join-plq a.join-button {
    font-size: 24px;
    font-weight: normal;
    padding: 8px 18px;
    text-decoration: none;
  }
  
  .plq-map .find-city {
    left: 10%;
  }
  .plq-affiliate-services ul.services li h3 {
  font-size:20px;
  }
  
  
  
  .plq-map .locationpin.losangeles {
  left:10%;
  top:39.5%;
  }
  .plq-map .locationpin.lasvegas {
  left:13.5%;
  top:35%;
  }
  .plq-map .locationpin.toronto {
  left:19%;
  top:30%;
  }
  .plq-map .locationpin.newyork {
  left:23%;
  top:32%;
  }
  .plq-map .locationpin.miami {
  left:20%;
  top:43%;
  }
  .plq-map .locationpin.dubai {
  left:57.5%;
  top:45%;
  }
  .plq-map .locationpin.london {
  left:42%;
  top:28%;
  }
  .plq-map .locationpin.paris {
  left:44%;
  top:30%;
  }
  
}
@media only screen and (max-device-width: 320px) {

  .plq-map {
    min-height:480px;
  }

  .signup-for-early-access a {
    font-size: 16px;
    padding: 10px 10px;
  }
  .plq-map .find-city {
    left: 3%;
  }
  
}
